*.class
*.jar
*.sql
pom.xml
/.calva/
/.clj-kondo/.cache/
/.env
/.lein-*
/.lsp/.cache/
/.nrepl-port
/.vscode/
/checkouts
/classes
/db-dumps/*
!/db-dumps/*.sh
/dev-config.edn
/initdb.d/
/lib/
/log/
/node_modules/
/profiles.clj
!/resources/migrations/*.sql
/target/
/test-config.edn
start.sh
stop.sh

.DS_Store
