*.class
*.jar
pom.xml
/.calva/
/.clj-kondo/.cache/
/.devcontainer/
/.env
/.lein-*
/.lsp/.cache/
/.m2/
/.nrepl-port
/.vscode/
/checkouts
/classes
/db-dumps/
/dev-config.edn
/docker-compose.yml
/initdb.d/
/lib/
/log/
/node_modules/
/profiles.clj
/target/
/test-config.edn
