{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Admin Page</h2>

    <div>
      <h3>Problems</h3>
      {% if flash %}
      <div class="red">{{flash.doc}}</div>
     {% else %}
      <div>&nbsp;</div>
      {% endif %}
     <div class="columns">
        <div class="column is-one-fifth">
          <form method='get' action='/admin/problems'>
            <input type='submit'
              class='button is-primary'
             value='edit problems'>
          </form>
        </div>
      <div class="column is-one-fifth">
        <form method='post' action='/admin/dump-problems'>
          {% csrf-field %}
          <input type='submit'
            class='button is-warning'
            value='dump problems'>
         </form>
      </div>
      <div class="column is-one-fifth">
        <form method='post' action='/admin/seed-problems'>
          {% csrf-field %}
          <input type='submit'
            disabled='disabled'
            class='button is-danger'
            value='seed problems'>
        </form>
      </div>
    </div>

    <div>
      <h3>User Activities</h3>
      <form method="get" action="/admin/user-actions">
        <p>/api/activities/<input name="login">/<input name="date" value="{{today}}">
          <input type="submit"></p>
      </form>

      <h3>User Submissions</h3>
      <form method='get' action='/submissions'>
        show <input name="login" size="10">'s
        <input type="submit" value="submissions">
        </form>

      <h3>User Comments</h3>
      <!-- copy from resources/html/comment-corm.html, 2023-12-14 -->
      <form method='get' action='/comments-sent'>
      show <input name="login" size="10">'s
      <input type="submit" value="comments">
      </form>

    </div>

  </div>

{% endblock %}
