{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Admin Page</h2>
    {% if flash %}
    <div class="red">{{flash.doc}}</div>
    {% else %}
    <div>&nbsp;</div>
    {% endif %}
    <div class="columns">
      <div class="column is-one-fifth">
        <form method='get' action='/admin/problems'>
          <input type='submit'
            class='button is-primary'
            value='edit problems'>
        </form>
      </div>
      <div class="column is-one-fifth">
        <form method='post' action='/admin/dump-problems'>
          {% csrf-field %}
          <input type='submit'
             class='button is-warning'
             value='dump problems'>
         </form>
      </div>

      <div class="column is-one-fifth">
        <form method='post' action='/admin/seed-problems'>
          {% csrf-field %}
          <input type='submit'
            class='button is-danger'
            value='seed problems'>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
