{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <h2>Activities</h2>
    <form method='post'>
      {% csrf-field %}
      <input name='login' placeholder='account' disabled>
      (this version yourself only)<br>
      <input name='date' placeholder='2024-12-29' required>
      <input type='submit' value='show'>
    </form>
    <br>
    <div>
      <h3>activities</h3>
      {% for i in data %}
      <p>{{i.create_at}}</p>
      {%endfor %}
    </div>
  </div>
  </div>
{% endblock %}
