{% extends "base.html" %}
{% block content %}
<script>document.title = "Py99 -{{problem.num}}-"</script>
<div class="content">
  <h2>New answer to Problem {{problem.num}}</h2>
  <p>{{problem.problem|safe}}</p>

  {% if frozen? %}
  <p class="red">期末試験終了につき、新規投稿を受付停止してます。</p>
  {% else %}
  <form method='post'>
    {% csrf-field %}
    <input type='hidden' name='num' value='{{problem.num}}'>
    <textarea name='answer' class='textarea h300 mono'
    placeholder='自力回答には関数コメントに「自力」を明記しよう。
自分の PC で動作確認してから submit するのがルール。'></textarea><br>
    <div>{{uptime}}</div>
    <input type='submit' name='action' value='submit' class='button is-warning is-small'>
  </form>
  {% endif %}
  <br>

  <!-- test code -->
  {% if not exam? %}
  <p>test code:</p>
  <pre>{{problem.test}}</pre>
  {% endif %}



  <h3>Same Answers (&lArr; newer is left, including yours)</h3>
  {% for a in same %}
  <a href='/comment/{{a.id}}'>{{a.login}}</a>
  &nbsp;
  {% endfor %}

  {% if not exam? %}
  <h3>Different Answers (&lArr; newer is left)</h3>
  {% for a in differ %}
  <a href='/comment/{{a.id}}'>{{a.login}}</a>
  &nbsp;
  {% endfor %}
  {% endif %}

  <!-- prev, next -->
  <p><a href="/answer/{{problem.num|add:-1}}" class="button is-small is-primary">
    ←prev
    </a>
    &nbsp;
    <a href="/answer/{{problem.num|add:1}}" class="button is-small is-primary">
    next→
    </a>
  </p>

  <!-- <script type="text/javascript">
    alert("自力回答は関数コメントに「自力」を明記すること。")
  </script> -->
</div>
{% endblock %}
