{% extends "base.html" %}
{% block content %}
  <script>document.title = "Py99 -{{problem.num}}-"</script>
  <div class="content">
  <h2>New answer to Problem {{problem.num}}</h2>
  <p>{{problem.problem|safe}}</p>

  {% if frozen? %}
  <p class="red">期末試験終了につき、新規投稿を受付停止してます。</p>
  {% else %}
  <form method='post'>
    {% csrf-field %}
    <input type='hidden' name='num' value='{{problem.num}}'>
    <textarea name='answer' class='textarea h300 mono'
     placeholder='関数コメント(doc string)のない回答は基本的にコメントしない。間違いあっても指摘しない。
コピー回答するヤツもコメントまでコピーじゃばれる。
動作確認してから submit するのはごく普通のマナーだ。'></textarea><br>
    <div>{{uptime}}</div>
    <input type='submit' name='action' value='submit' class='button is-warning is-small'>
  </form>
  {% endif %}
  <br>
  <p>test code:</p>
  <pre>{{problem.test}}</pre>

  <h3>Same Answers (including yours, newer is right &rArr;)</h3>
    {% for a in same %}
  <a href='/comment/{{a.id}}'>{{a.login}}</a>
  &nbsp;
  {% endfor %}

  <h3>Different Answers (newer is right &rArr;)</h3>
    {% for a in differ %}
  <a href='/comment/{{a.id}}'>{{a.login}}</a>
  &nbsp;
  {% endfor %}

  </div>
{% endblock %}
