{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Answers</h2>

    <p>
      <input id="date" type="text" value="{{today}}" size="11">
      <button onClick="todays()">go</button>
    </p>

    <p>何番に回答が何個ついているか。逆順は妙か。
      どこまで先行している人がいるか、わかっていいんじゃね？</p>
    <div>
      {% for row in data %}
       <p><a href="/answer/{{row.num}}">{{row.num}}</a>
         <input
          style="width:{{row.count|multiply:0.6}}mm; background-color:red;"
          disabled="disabled">
         {{row.count}}</p>
      {% endfor %}
    </div>
    <script>
      function todays() {
        var url="/todays/"+document.getElementById("date").value;
        document.location = url;
      }
    </script>
  </div>
{% endblock %}
