<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Py99</title>
    <!-- styles -->
    {% style """/assets/bulma/css/bulma.min.css" %}
    {% style """/assets/material-icons/css/material-icons.min.css" %}
    {% style """/css/screen.css" %}
    <!-- add by hkimura -->
    {% style """/css/py99.css" %}
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar is-info">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/" style="font-weight:bold;">Py99</a>
          <span class="navbar-burger burger" data-target="nav-menu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="nav-menu" class="navbar-menu">
          <div class="navbar-start">
            <a href="/problems" class="navbar-item">Problems</a>
            <a href="/answers" class="navbar-item">Answers</a>
            <a href="/comments-count" class="navbar-item">Comments</a>
            <!--
              <a href="/todays" class="navbar-item">Todays</a>
            -->
            <a href="/profile" class="navbar-item{% ifequal page 'profile.html' %} is-active{%endifequal%}">Profile</a>
            <a href="/ac" class="navbar-item">Activities</a>
            <a href="/stock" class="navbar-item{% ifequal page 'stocks' %} is-active{%endifequal%}">Stocks</a>
            <a href="/about" class="navbar-item{% ifequal page 'about.html' %} is-active{%endifequal%}">About</a>
            <a href="/login" class="navbar-item{% ifequal page 'login.html' %} is-active{%endifequal%}">Login</a>
            <a href="/logout" class="navbar-item{% ifequal page 'logout.html' %} is-active{%endifequal%}">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% block content %}
        {% endblock %}
        <hr>
        programmed by hkimura
      </div>
    </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
    {% block page-scripts %}
    {% endblock %}

  </body>
  <script type="text/javascript">
    function ok() {return window.confirm('OK?');}
  </script>
</html>
