{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Comments</h2>

    <!--
    <p>
      <input id="date" type="text" value="2023-10-06" size="11">
      <button onClick="todays()">go</button>
    </p>
    -->
    <form method='get' action='/comments-sent'>
      show <input name="login" size="10">'s
      <input type="submit" value="comments">
    </form>

    <p>問題番号とその問題についたコメント数。</p>
    <div>
      {% for row in comments %}
       <p><a href="/comments/{{row.p_num}}">{{row.p_num}}</a>
         <input
          style="width:{{row.count|multiply:1}}mm; background-color:red;"
          disabled="disabled">
         {{row.count}}</p>
      {% endfor %}
    </div>
    <br>
    <p><a href="/comments-sent/{{login}}">your comments sent</a></p>

    <script>
      function todays() {
        var url="/todays/"+document.getElementById("date").value;
        document.location = url;
      }
    </script>
  </div>
{% endblock %}
