{% extends "base.html" %}
{% block content %}
<div class="content">
  <h2>{{answer.login}}'s answer to
    <a href='/answer/{{problem.num}}'>Problem {{problem.num}}</a>,
    {{answer.create_at|date:shortDateTime}}
  </h2>
  <p>{{problem.problem|safe}}</p>
  <pre class='nocopy'>{{answer.answer}}</pre>

  {% if not exam? %}
  <h3>Who sent the same answer with {{answer.login}}?</h3>
  <p>
    {% for a in same-md5 %}
    {{a.login}}
    &nbsp;
    {% endfor %}
  </p>

  <h3>Comments</h3>

  {% for c in comments %}
  <p>from <b>{{c.from_login}}</b>, at {{c.create_at|date:shortDateTime}},</p>
  <pre>{{c.comment|wrap66}}</pre>
  <form action="/stock" method="post" onSubmit="return ok()">
    {% csrf-field %}
    <input type="hidden" name="a_id" value='{{c.a_id}}'>
    <div class="columns">
      <div class="column">
        <input class="input" type="text" name="note" placeholder="ストックにつけるラベル">
      </div>
      <div class="column">
        <input type="submit" class="button is-primary is-small" value="stock">
      </div>
    </div>
  </form>
  <br>
  {% endfor %}

  <form method='post'>
    {% csrf-field %}
    <input type='hidden' name='p_num' value='{{problem.num}}'>
    <input type='hidden' name='a_id' value='{{answer.id}}'>
    <input type='hidden' name='to_login' value='{{answer.login}}'>
    <textarea name='comment'
              class='textarea'
              placeholder='Your comment please.'>{% if comment_to %}💡 {{comment_to}}, {%endif %}</textarea><br>
    <div>{{uptime}}</div>
    <input type='submit' value='comment' class='button is-warning is-small'>
  </form>
  <br>

  <form method='get' action='/user-class'>
    show <input name="login" size="10" value="{{answer.login}}">'s
    <input type="submit" value="class">
  </form>
  <form method='get' action='/comments-sent'>
    show <input name="login" size="10" value="{{answer.login}}">'s
    <input type="submit" value="comments">
  </form>
  <form method='get' action='/submissions'>
    show <input name="login" size="10" value="{{answer.login}}">'s
    <input type="submit" value="submissions">
  </form>
  <br>

  <p>Other comments to this problem ...
    <a href='/comments/{{problem.num}}'>✏️</a>
  </p>

   <!-- prev-next -->
   <p><a href="/answer/{{problem.num|add:-1}}" class="button is-small is-primary">←prev</a>
    &nbsp;
    <a href="/answer/{{problem.num|add:1}}" class="button is-small is-primary">next→</a>
  </p>

  {% endif %}
</div>
{% endblock %}
