{% extends "base.html" %}
{% block content %}
  <div class="content">

    <h2>Admin/Problems</h2>

    <p>問題文に改行には &lt;br&gt; が必要。
      テストコードは &lt;pre&gt;~&lt;/pre&gt; で表示する。<br>
      /admin/problems#n で n 番にジャンプ。</p>

    {% for p in problems %}
    <a name='{{p.num}}'>
    <form method='post'>
      {% csrf-field %}
      <input type="hidden" name="id" value="{{p.id}}">
      num: <input name='num' value='{{p.num}}'>
      avail? <input name='is_avail' value='{{p.is_avail}}'><br>
      <div class="columns">
        <div class="column">
          <textarea
            name='problem'
            class='textarea'>{{p.problem}}</textarea>
        </div>
        <div class="column">
          <textarea
            name='test'
            class='textarea'
            style="font-family:monospace;">{{p.test}}</textarea>
        </div>
      </div>
      <input type='submit'
        class='button is-small is-primary' value='update'>
   </form>
   <hr>
   {% endfor %}
  </div>
{% endblock %}
