{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Admin/Problems</h2>
    <div>
      <h2>Add an problem at `num`</h2>
      <form method="post" action="/admin/create">
        {% csrf-field %}
        num: <input name="num"><br>
        <input type="submit" value="add">
      </form>
    </div>

    <hr>

    <h2>Update Problems</h2>

    <p>問題文に改行には &lt;br&gt; が必要。
      テストコードは &lt;pre&gt;~&lt;/pre&gt; で表示する。<br>
      /admin/problems#n で n 番にジャンプ。</p>

    {% for p in problems %}
    <a name='{{p.num}}'></a>
    <form method='post'>
      {% csrf-field %}
      <input type="hidden" name="id" value="{{p.id}}">
      num: <input name='num' value='{{p.num}}'>
      avail? <input name='is_avail' value='{{p.is_avail}}'>
      show testcode?
      <input name='show_testcode' value='true' type='radio'
       {% if p.show_testcode %} checked {% endif %}>yes
      <input name='show_testcode' value='false' type='radio'
      {% if not p.show_testcode %} checked {% endif %}>no
      <div class="columns">
        <div class="column">
          <textarea
            name='problem'
            class='textarea'>{{p.problem}}</textarea>
        </div>
        <div class="column">
          <textarea
            name='test'
            class='textarea'
            style="font-family:monospace;">{{p.test}}</textarea>
        </div>
      </div>
      <input type='submit' class='button is-small is-primary' value='Update'>
      <a class='button is-small is-link' href='/'>Back</a>
  </form>
  <hr>
  {% endfor %}

  </div>
{% endblock %}
