{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <h2>Login</h2>
    <div style="color:red;">{{flash}}</div>
    <form method='post'>
      {% csrf-field %}
      <input name='login' required>
      <input name='password' type='password' required>
      <!-- <input name='filter' placeholder='filter'> -->
      <input type='submit' value='login'>
    </form>
    <br>
    <ul>
      <li>invalid anti-forgery token が表示されたときは時間切れ。
         ページを再読み込みしてやり直し。</li>
      <!--<li>filter は recent submissions/comments の表示フィルタ。</li>-->
      <li>アカウントの新規作成は授業時間中に
        <a href='https://l22.melt.kyutech.ac.jp'>
        l22.melt.kyutech.ac.jp</a>へ。</li>
    </ul>
  </div>
  </div>
{% endblock %}
