{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h3>中間試験</h3>

  <h4>tue1</h4>
  <p>
    <a href="/midterm/211">1</a>・
    <a href="/midterm/212">2</a>・
    <a href="/midterm/213">3</a>・
    <a href="/midterm/214">4</a></p>

  <h4>tue2</h4>
  <p>
    <a href="/midterm/221">1</a>・
    <a href="/midterm/222">2</a>・
    <a href="/midterm/223">3</a>・
    <a href="/midterm/224">4</a></p>

  <h4>thr1</h4>
  <p>
    <a href="/midterm/231">1</a>・
    <a href="/midterm/232">2</a>・
    <a href="/midterm/233">3</a>・
    <a href="/midterm/234">4</a></p>

  <h4>thr2</h4>
  <p>
    <a href="/midterm/241">1</a>・
    <a href="/midterm/242">2</a>・
    <a href="/midterm/243">3</a>・
    <a href="/midterm/244">4</a></p>

  <h4>extra</h4>
  <p>
    <a href="/midterm/251">1</a>・
    <a href="/midterm/252">2</a>・
    <a href="/midterm/253">3</a>・
    <a href="/midterm/254">4</a></p>

  </div>
{% endblock %}
