{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Ranking</h2>

    <h4>Total Submissions Top {{n}}</h4>
      <p>
      {% for user in submissions %}
      {% ifequal user.login login %}
      <span class="red">{{user.login}}({{user.count}})</span>
      {% else %}
      {{user.login}}({{user.count}})
      {% endifequal %}
      &nbsp;
      {% endfor %}
      &rArr; <a href="/rank/submissions">All</a>
      </p>

      <h4>Problems Solved Top {{n}} (exclude exam submissions) </h4>
      <p>
      {% for user in solved %}
      {% ifequal user.login login %}
      <span class='red'>{{user.login}}[{{user.count}}]</span>
      {% else %}
      {{user.login}}({{user.count}})
      {% endifequal%}
      &nbsp;
      {% endfor %}
      &rArr; <a href="/rank/solved">All</a>
      </p>

    <h4>Comments Sent Top {{n}}</h4>
    <p>
      {% for c in comments %}
      {% ifequal c.from_login login %}
      <span class='red'>{{c.from_login}}({{c.count}})</span>
      {% else %}
      {{c.from_login}}({{c.count}})
      {% endifequal %}
      &nbsp;
      {% endfor %}
      &rArr; <a href="/rank/comments">All</a>
    </p>
  </div>
{% endblock %}
