{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>再試験結果</h2>
    <p>再試験のアナウンスしてから Py99 にどのくらい取り組んだ？
      自分で「努力した」と胸を張って言える？
      ラッキーは長続きしないぞ。早晩に行き詰まる。
      「合」の人は 60 点で成績報告するが、合格に満たない自覚のある人は
      連絡してください。合格を取り消し、来期の「情報処理応用」受講を認めます。
      あと、数人を除いて全体的に字が汚すぎ。上手く書けっつってんじゃないよ。
      時間は十分あったはずだ。(4/30 にこのページは消えます)
    </p>
    <p><a href="reexam-results.pdf">再試験結果</a></p>
    <p><b>Go</b> <a href="/" class="button is-danger is-small">Py99</a> !</p>
  </div>
{% endblock %}
